<div ng-style="modalForm" class="modal">
    <div class="modal-form">
        <h1 class="common-title">Novo aluno</h1>
        <form class="modal-content">
            <div class="mb-3">
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control" name="nome" ng-model="newAluno.nome">
            </div>
            <div class="mb-3">
            <label class="form-label" for="sobrenome">Sobrenome:</label>
            <input class="form-control" name="sobrenome" ng-model="newAluno.sobrenome">
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" name="email" ng-model="newAluno.email">
        </div>
        <div class="mb-3">
            <label class="form-label" for="altura">Altura:</label>
            <input class="form-control"  name="altura" ng-model="newAluno.altura">
        </div>
        <div class="mb-3">
            <label class="form-label" for="peso">Peso:</label>
            <input class="form-control" name="peso" ng-model="newAluno.peso">
        </div>
        <div ng-show="alunoError.error" class="alert alert-danger" role="alert">
            {{alunoError.error}}
          </div>
        </form>
        <div>
            <button ng-click="addAluno(newAluno)" class="btn btn-primary btn-block form-newAluno">Adionar aluno</button>
            <button ng-click="setModal('form')" class="btn btn-danger btn-block form-newAluno">Cancelar</button>
        </div>
    </div>
</div>