<style>
    body {
        background-color: #f0f0f0f0;
    }
</style>
<div class="container">
    <h1 class="name-title">ESCOLINHA API</h1>
    <h3 class="sub-title">CADASTRO</h3>
    <form name="cadastroForm">
        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input name="nome" ng-required="true" ng-model="cadastro.nome" class="form-control" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input name="email" ng-required="true" ng-model="cadastro.email" class="form-control" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input name="password" ng-required="true" ng-model="cadastro.password" class="form-control" type="password">
        </div>

        <div class="d-grid gap-2">
            <button ng-disabled="!cadastroForm.$valid" ng-click="requestCadastro(cadastro)" class="btn btn-primary" type="button">Completar cadastro</button>
        </div>
        <br>

        <div ng-show="error" ng-repeat="error in error " class="alert alert-danger">
            {{error}}
        </div>

    </form>

</div>