<div class="sidebar">
    <h2 class="title">ESCOLINHA API</h2>
    <div class="buttons">
        <button ng-click="changePage('/home')" class="sidebar-btn" >Alunos</button>
        <button ng-click="changePage('/home/imagens')" class="sidebar-btn" >Imagens</button>
    </div>
    <div class="btn-group" role="group">
        <buttons ng-click="setModal('updateAccount')" class="btn btn-primary update" >Atualizar dados</buttons>
        <buttons ng-click="setModal('exitAccount')" class="btn btn-danger exit" >Sair da conta</buttons>
    </div>
</div>
